<div *ngIf="clientId !== undefined">
  <div class="bg-dark text-white shadow-lg p-3 rounded">
    <h3 style="padding-left: 3%"> Personal Information </h3>
  </div>
  <div class="bg-white shadow-lg p-3 mb-5 rounded">
    <br/>
    <div class="row">
      <div class="col-lg-3 text-center">
        <img src="{{client.general.avatar}}" width="200px" class="rounded"
             style="border: 3px solid">
      </div>
      <div class="col-lg-9 " style="border-left: 3px solid">
        <br/>
        <ul class="list-group-flush">
          <li class="list-group-item"><h6>First Name: {{client.general.firstName}}</h6></li>
          <li class="list-group-item"><h6>Last Name: {{client.general.lastName}}</h6></li>
        </ul>
      </div>
    </div>
    <br/>
    <br/>
  </div>
</div>
