<div *ngIf="clientId !== undefined && client !== undefined">
  <div class=" text-white text-center text-white shadow-lg p-3 rounded" id="header">
    <h3 id="title"><i class="fa fa-user"> </i> Personal Information</h3>
  </div>
  <div class="bg-white shadow-lg p-3 mb-5 rounded">
    <div class="row" id="info">
      <div class="col-lg-5 text-center rounded" id="avatar">
        <img src="{{client.general.avatar}}" width="100%" class="rounded-circle" id="img">
        <br/>
      </div>
      <div class="col-lg-7">
        <br/>
        <div class="text-center">
        <h4><strong>{{client.general.firstName}} {{client.general.lastName}}</strong></h4>
        <h6 class="text-black-50"><em>{{client.job.title}} <br/> at {{client.job.company}}</em></h6>
        </div>
        <br/>
        <ul class="list-group list-group-flush">
          <div class="list-group-item">
            <div class="row">
              <div class="col-4"><h6 class="text-muted">Email: </h6></div>
              <div class="col-8"><h6 id="overflow"><strong>{{client.contact.email}}</strong></h6>
              </div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="row">
              <div class="col-4"><h6 class="text-muted">Phone: </h6></div>
              <div class="col-8"><h6><strong>{{client.contact.phone}}</strong></h6></div>
            </div>
          </div>
          <div class="list-group-item">
            <div class="row">
              <div class="col-4"><h6 class="text-muted">Address: </h6></div>
              <div class="col-8"><h6><strong>{{client.address.street}}, {{client.address.city}},
                {{client.address.country}}, {{client.address.zipCode}}</strong></h6></div>
            </div>
          </div>
        </ul>
      </div>
    </div>
    <br/>
  </div>
</div>
<div *ngIf="clientId === undefined">
  <h3 class="text-muted text-uppercase"> choose client to see the info-panel </h3>
</div>
